.c-contact{

    &__btn{
        border: 1px solid $white;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

    }

}