.c-main-ttl{
    font-family: $lato;
    font-weight: normal;

    &__main{
        font-size: 6rem;
        line-height: 1;
        font-weight: 400;
        letter-spacing: .05em;
        @include mobile{
            font-size: 4.2rem;
        }
    }

    &__sub{
        font-size: 1.2rem;
        display: block;
        letter-spacing: .1em;
        position: relative;
        margin-top: 1.7rem;

        @include mobile{
            margin-top: 1.1rem;
        }

        &::before{
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: -4rem;
            width: 20px;
            height: 1px;
            @include mobile{
                left: -3.8rem;
            }
        }
    }
}