.c-paragraph{

    &__head{
        
        &--big{
            font-size: 3.2rem;
            line-height: $large;
            padding-top: 10.9rem;
            font-weight: 500;
            font-style: normal;
            color: $blue;
        }

        &--small{
            font-size: 2.4rem;
            line-height: $mediun;
            font-weight: 500;
            font-style: normal;
            color: $blue;
         }
    }

    &__text{
        line-height: $small;
        padding-top: 4.1rem;
    }
}