<main>

    <div class="l-key">
        <picture class="p-key__bg">
            <source srcset="assets/img/pic_key_sp.jpg" media="(max-width: 767px)" width="375" height="375">
            <img src="assets/img/pic_key.jpg" alt="" width="1000" height="900">
        </picture>
        <p class="p-key__title">日本ALO音楽研究所</p>
        <div class="p-key__logo"><img src="../../../img/logo_key.svg" alt=""></div>
        <p class="p-key__subtitle">この文章はダミーです。<span>ANIMAL LIBERATION ORCHESTRA</span></p>
        <p class="p-key_text">この文章はダミーです。文字の大きさ、量、字間、行間等を<br>確認するために入れています。</p>
    </div>

