/* ==========================================================================
Media
========================================================================== */
@mixin pc{
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 767px){
        @content;
    }
}

/* ==========================================================================
keyframs
========================================================================== */
@keyframes scroll-line {
    0%{
        top: 0;
    }
    100%{
        top: 100%;
    }
}

@keyframes makeCircle {
    0% {
        stroke-dasharray: 0 366;
    }
    99.9%,to {
        stroke-dasharray: 366 366;
    }
}