.l-header{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $header;
    padding: vw-calc(26) vw-calc(36);
    width: 100%;
    color: #fff; 
    align-items: center;
}
