<div class="p-abou">
    <div class="p-about__left">
        <h2 class="c-main-title p-about__title">
            ABOUT
            <span class="c-main-title__en p-about__title--en">ABOUT ALO [ ANIMAL LIBERATION ORCHESTRA ]</span>
        </h2>
        <div class="p-about__paragraph c-paragraph">
            <p class="c-paragraph__head--big">この文章はダミーです。<br>文字の大きさ、量、字間、<br>行間等を確認するために<br>入れています。</p>
            <p class="c-paragraph__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
        </div>
        <div class="p-about__paragraph c-paragraph">
            <p class="c-paragraph__head--small">この文章はダミーです。文字の大きさ、<br>量、字間、行間等を確認するために<br>入れています。</p>
            <p class="c-paragraph__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
        </div>
    </div>
    
    <section class="p-about__right">
        <picture class="p-about__fig">
            <source srcset="assets/img/illust_about.svg" width="287" height="212"> 
            <img src="assets/img/illust_about.svg" alt="" width="498" height="369">
        </picture>
        <h2 class="p-about__alo">
            ALO
            <span class="p-about__alo--en">ANIMAL LIBERATION ORCHESTRA</span>
        </h2>
        <p class="p-about__alo--txt">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
        <picture class="p-about__alo--image">
            <source srcset="assets/img/pic_about_sp.jpg" width="375" height="375"> 
            <img src="assets/img/pic_about.jpg" alt="" width="600" height="600">
        </picture>
    </section>
</div>

