<div class="c-anchor" id="about">
</div>

<div class="p-about l-main__inner">
    <div class="p-about__left">
        <div class="p-about__ttl c-main-ttl">
            <h2 class="p-about__ttl-main c-main-ttl__main">ABOUT</h2>
            <p class="p-about__ttl-sub c-main-ttl__sub">ABOUT ALO [ ANIMAL LIBERATION ORCHESTRA ]</p>
        </div>
        <div class="p-about__left-first c-paragraph">
            <p class="c-paragraph__head--big">この文章はダミーです。<br>文字の大きさ、量、字間、<br>行間等を確認するために<br>入れています。</p>
            <p class="c-paragraph__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
        </div>
        <div class="p-about__left-second c-paragraph">
            <p class="c-paragraph__head--small">この文章はダミーです。文字の大きさ、<br>量、字間、行間等を確認するために<br>入れています。</p>
            <p class="c-paragraph__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
        </div>
    </div>
    
    <section class="p-about__right p-about__alo">
        <div class="p-about__right-fig">
            <picture>
                <source srcset="assets/img/illust_about.svg" media="(max-width: 768px)" width="287" height="212"> 
                <img src="assets/img/illust_about.svg" alt="" width="498" height="369">
            </picture>
        </div>
        <div class="p-about__alo-ttl c-main-ttl">
            <h2 class="p-about__alo-ttl--main c-main-ttl__main">ALO</h2>
            <p class="p-about__alo-ttl--sub c-main-ttl__sub">ANIMAL LIBERATION ORCHESTRA</p>
        </div>
        <p class="p-about__alo-txt">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
        <picture class="p-about__alo-img">
            <source srcset="assets/img/pic_about_sp.jpg" media="(max-width: 768px)" width="375" height="375"> 
            <img src="assets/img/pic_about.jpg" alt="" width="600" height="600">
        </picture>
    </section>
</div>

