<div class="p-contact l-main">
    <div class="p-contact__inner l-main__inner">
        <h2 class="p-contact__title">お電話でのお問い合わせはこちら</h2>
        <div class="p-contact__tel">
            <div class="p-contact__tel-icon"><img src="assets/img/icon_tel.svg" alt="" width="61" height="61"></div>
            <div>
                <p class="p-contact__tel-num">0120-00-0000</p>
                <p class="p-contact__tel-time">10:00～18:00 土日・祝日・年末年始除く</p>
            </div>
        </div>
    </div>
    <div class="c-pagetop"><button class="c-pagetop__text u-hov">PAGE TOP</button></div>
</div>
