<div class="p-footer l-main">
    <div class="p-footer__inner l-main__inner">
        <ul class="p-footer__links">
            <li class="p-footer__links-item"><a href="#" class="u-hov">企業案内</a></li>
            <li class="p-footer__links-item"><a href="#" class="u-hov">プライバシーポリシー</a></li>
        </ul>
        <p class="p-footer__copy">&copy;COMPANY</p>
    </div>
</div>
