<div class="p-footer l-mainr">
    <div class="p-footer__inner l-main__inner">
        <ul class="p-footer__links">
            <li class="p-footer__links--item u-hov"><a>企業案内</a></li>
            <li class="p-footer__links--item u-hov"><a>プライバシーポリシー</a></li>
        </ul>
        <p class="p-footer__copy">&copy;COMPANY</p>
    </div>
</div>
