<div class="p-footer">
    <div class="p-footer__inner">
        <dl class="p-footer__contact">
            <dt class="p-footer__contact--title">お電話でのお問い合わせはこちら</dt>
            <dd class="p-footer__contact--num">0120-00-0000<span>10:00～18:00 土日・祝日・年末年始除く</span></dd>
        </dl>
        <div class="c-pagetop-btn"><button>PAGE TOP</button></div>
    </div>
    
    <div class="p-footer__bottom">
        <ul class="p-footer__links">
            <li>企業案内</li>
            <li>プライバシーポリシー</li>
        </ul>
        <p class="p-footer__copy">&copy;COMPANY</p>
    </div>
</div>
