<div class="p-header l-header__inner">
    <h1 class="p-header__logo c-logo">
        <a href="/" class="u-hov">
            日本ALO音楽研究所 
        </a>
    </h1>  
    <div class="p-header__info">
        <div class="p-header__tel">
            <dl class="p-header__tel-num sp-hide">
                <dt>TEL</dt>
                <dd>0120-00-0000</dd>
            </dl>
            <p class="p-header__tel-time sp-hide">10:00～18:00 土日・祝日・年末年始除く</p>
            <div class="p-header__tel-icon pc-hide">
                <img src="assets/img/icon-tel-header.svg" alt="">
            </div>
        </div>    

        <div class="p-header__contact c-contact">
            <div class="p-header__contact-btn c-contact__btn u-hov sp-hide">お問い合わせ</div>
            <div class="p-header__contact-icon pc-hide">
                <img src="assets/img/icon-mail-header.svg" alt="">
            </div>
        </div>
    </div>
    <div class="p-header__bgr c-bgr u-hov js-bgr" role="button">
        <p class="p-header__bgr-title c-bgr__title">MENU</p>
        <span></span>
        <span></span>
    </div>
</div>
