<div class="p-key">
    <div class="p-key__bg">
        <picture>
            <source srcset="assets/img/pic_key_sp.jpg" media="(max-width: 767px)" width="375" height="375">
            <img src="assets/img/pic_key.jpg" alt="" width="1000" height="900">
        </picture>
    </div>
    <div class="p-key__inner slide-left">
        <div class="p-key__textarea">
            <p class="p-key__title">日本ALO音楽研究所</p>
            <h2 class="p-key__logo"><img src="assets/img/logo_key.svg" alt="ALO ANIMAL LIBERATION ORCHESTRA"></h2>
            <p class="p-key__subtitle-ja">この文章はダミーです。</p>
            <p class="p-key__subtitle-en">ANIMAL LIBERATION ORCHESTRA</p>
            <p class="p-key__text">この文章はダミーです。文字の大きさ、量、字間、行間等を<br class="sp-hide">確認するために入れています。</p>
        </div>
    </div>
    <div class="p-key__scroll c-scroll-btn">
        <span class="p-key__scroll-txt c-scroll-btn__txt">SCROLL DOWN</span>
        <span class="p-key__scroll-line c-scroll-btn__line"></span>
    </div>
</div>

