<div class="p-menu">
    <div class="p-menu__cross">
        <span></span>
        <span></span>
    </div>
    <div class="p-menu__inner">
        <h2 class="p-menu__logo c-logo">
            <a href="">日本ALO音楽研究所</a>
        </h2>
        <dl class="p-menu__contact">
            <dt>メールでのお問い合わせ</dt>
            <dd class="c-contact">
                <button class="p-menu__contact--btn c-contact__btn">お問い合わせ</button>
            </dd>
        </dl>
        <dl class="p-menu__tel">
            <dt class="p-menu__tel--title">お電話でのお問い合わせ</dt>
            <dd class="p-menu__tel--num">0120-00-0000</dd>
            <dd class="p-menu__tel__time">10:00～18:00 土日・祝日・年末年始除く</dd>
        </dl>
        <div></div>
        <div class="p-menu__nav">
            <ul class="p-menu__nav--list">
                <li class="p-menu__nav--item">ALOについて</li>
                <li class="p-menu__nav--item">ALOの強み</li>
                <li class="p-menu__nav--item">ALOの商品紹介</li>
                <li class="p-menu__nav--item">ご加盟までの流れ</li>
                <li class="p-menu__nav--item">よくあるご質問</li>
            </ul>
        </div>
    </div>
</div>