<div class="p-menu__inner l-main__inner">
    <div class="p-menu__content">
        <h2 class="p-menu__logo c-logo">
            <a href="">日本ALO音楽研究所</a>
        </h2>
        <dl class="p-menu__contact c-menu-card">
            <dt class="p-menu__contact--title c-menu-card__title">メールでのお問い合わせ</dt>
            <dd class="p-menu__contact--btnwrap c-contact u-hov">
                <button class="p-menu__contact--btn c-contact__btn">お問い合わせ</button>
            </dd>
        </dl>
        <dl class="p-menu__tel c-menu-card">
            <dt class="p-menu__tel--title c-menu-card__title">お電話でのお問い合わせ</dt>
            <dd class="p-menu__tel--num">0120-00-0000</dd>
            <dd class="p-menu__tel--time">10:00～18:00 土日・祝日・年末年始除く</dd>
        </dl>
        <div class="p-menu__nav">
            <ul class="p-menu__nav--list">
                <li class="p-menu__nav--item u-hov">ALOについて</li>
                <li class="p-menu__nav--item u-hov">ALOの強み</li>
                <li class="p-menu__nav--item u-hov">ALOの商品紹介</li>
                <li class="p-menu__nav--item u-hov">ご加盟までの流れ</li>
                <li class="p-menu__nav--item u-hov">よくあるご質問</li>
            </ul>
        </div>
    </div>
</div>
