<div class="p-menu l-main ">
    <div class="p-menu__inner l-main__inner">
        <div class="p-menu__content">
            <h2 class="p-menu__logo c-logo">
                <a href="">日本ALO音楽研究所</a>
            </h2>
            <div class="p-menu__nav">
                <ul class="p-menu__nav-lists">
                    <li class="p-menu__nav-item"><a href="#" class="u-hov">ALOについて</a></li>
                    <li class="p-menu__nav-item"><a href="#" class="u-hov">ALOの強み</a></li>
                    <li class="p-menu__nav-item"><a href="#" class="u-hov">ALOの商品紹介</a></li>
                    <li class="p-menu__nav-item"><a href="#" class="u-hov">ご加盟までの流れ</a></li>
                    <li class="p-menu__nav-item"><a href="#" class="u-hov">よくあるご質問</a></li>
                </ul>
            </div>
            <dl class="p-menu__contact c-menu-card">
                <dt class="p-menu__contact-ttl c-menu-card__title">メールでのお問い合わせ</dt>
                <dd class="p-menu__contact-btnwrap c-contact">
                    <button class="p-menu__contact-btn c-contact__btn u-hov">お問い合わせ</button>
                </dd>
            </dl>
            <dl class="p-menu__tel c-menu-card">
                <dt class="p-menu__tel-ttl c-menu-card__title">お電話でのお問い合わせ</dt>
                <dd class="p-menu__tel-num">0120-00-0000</dd>
                <dd class="p-menu__tel-time">10:00～18:00 土日・祝日・年末年始除く</dd>
            </dl>
        </div>
    </div>
</div>

