<div class="p-number__inner">
    <dl class="p-number__graph">
        <dt class="p-number__graph--title">NUMBER OF<br>COMPLETIONS</dt>
        <dd class="p-number__graph--fig">
            <picture>
                <source srcset="assets/img/fig_number_sp.png" media="(max-width:767px)" width="335" height="288">
                <img src="assets/img/fig_number.png" alt="" width ="570" height="492">
            </picture>
        </dd>
    </dl>
    <div class="p-number__paragraph">
        <p class="c-paragraph__head--small">この文章はダミーです。<br>文字の大きさ、量、字間を確認するため</p>
        <p class="c-paragraph__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
    </div>
</div>