<div class="p-number__inner l-main__inner">
    <div class="p-number__graph">
        <h2 class="p-number__graph-ttl"><img src="assets/img/txt-number.svg" alt="NUMBER OF COMPLETIONS"></h2>
        <div class="p-number__graph-fig">
            <picture>
                <source srcset="assets/img/fig_number_sp.png" media="(max-width:767px)" width="335" height="288">
                <img src="assets/img/fig_number.png" alt="" width ="570" height="492">
            </picture>
        </div>
    </div>
    <div class="p-number__paragraph c-paragraph">
        <p class="c-paragraph__head--small">この文章はダミーです。<br>文字の大きさ、量、字間を確認するため</p>
        <p class="c-paragraph__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
    </div>
</div>
