<div class="p-product">
    <h2 class="c-main-title p-product__title">
        PRODUCT
        <span class="c-main-title__en p-product__title--en">PRODUCT INFORMATION</span>
    </h2>
    <div class="p-product__paragraph c-paragraph">
        <p class="c-paragraph__head--small">この文章はダミーです。</p>
        <p class="c-paragraph__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
    </div>
    <div class="p-product__list">
        <% for (var i = 0; i < 4; i++) { %>
        <dl class="p-product__list--item c-block">
            <dt class="c-block__img">
                <picture>
                    <source srcset="assets/img/pic_product0<%= i+1 %>_sp.jpg" media="(max-width: 767px)" width="335" height="223">
                    <img src="assets/img/pic_product0<%= i+1 %>.jpg" alt="" width="570" height="380">
                </picture>
            </dt>
            <dd class="c-block__head">ダミーダミーダミー</dd>
            <dd class="c-block__text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</dd>
        </dl>
        <% } %>
    </div>
</div>