<header>
    <h1 class="">
        <a href="/">
            日本ALO音楽研究所 
        </a>
    </h1> 
    <div>
        <dl>
            <dt>メールでのお問い合わせ</dt>
            <dd><button>お問い合わせ</button></dd>
        </dl>
        <dl>
            <dt>お電話でのお問い合わせ</dt>
            <dd>0120-00-0000<span>10:00～18:00 土日・祝日・年末年始除く</span></dd>
        </dl>
    </div>
    <nav>
        <ul>
            <li>ALOについて</li>
            <li>ALOの強み</li>
            <li>ALOの商品紹介</li>
            <li>ご加盟までの流れ</li>
            <li>よくあるご質問</li>
        </ul>
    </nav>
</header>