.p-about{
    display: flex;
    padding-top: 0;
    padding-bottom: 0;

    &__ttl{
        padding-top: 14.4rem;
        color: $blue;

        &-main{
            &--alo{
                font-size: 4.8rem;
            }

        }
        &-sub{
            color: rgba(69, 85, 106, .5);
            &::before{
                background-color: #45556A;
            }
        }
    }

    &__left{
        width: 50%;

        &-first{
            padding-bottom:12.7rem;
            padding-right: percentage(120px / 680px);


        }
        &-second{
            position: relative;
            padding: 11.8rem percentage(120px / 680px) 14.7rem 0;
            &::after{
                position: absolute;
                top: 0;
                right: 0;
                z-index: $back;
                display: block;
                width: 50vw;
                height: 100%;
                content: '';
                background-color: #F5F5F5;
            }
        }

    }

    &__right{
        width: 50%;
        position: relative;

        &::after{
            position: absolute;
            top: 0;
            left: 0;
            z-index: $back;
            display: block;
            width: 50vw;
            height: 100%;
            content: '';
            background-color: $bg-blue;
        }

        &-fig{
            padding-top: 14rem;
            picture{
                display: block;
                padding-left: percentage(76px/720px);
                padding-right: percentage(25px/720px);
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }

    }

    &__alo{
        color: #fff;
        position: relative;

        &-ttl{
            padding-top: 5rem;
            padding-left: percentage(180px/ 600px);

            &--main{
               font-size: 4.8rem;     
            }
            &--sub{
                font-size: 1.2rem;
                
                &::before{
                    background-color: $white;
                    left: 0;
                    top: initial;
                    bottom: -3rem;
                    width: 4rem;
                }
            }
        }
        &-txt{
            padding-left: percentage(180px/ 600px);
            padding-top: 7.1rem;
            font-size: 1.4rem;
        }
        &-img{
            margin-top: 6.8rem;
            display: block;
            position: absolute;
            right: -4rem;
            padding-left: percentage(120px / 720px);
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}