.p-header{

    &__logo{
        font-size: 2.2rem;
    }

    &__info{
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    &__tel{
        margin-right: vw-calc(30);

        &--num{
            display: flex;
            font-family: $lato;
            align-items: center;

            dt{
                font-size: vw-calc(13);
                margin-right: 10px;
                letter-spacing: .2em;
                border-bottom: 1px solid #fff;
                line-height: 1.333;
                padding-bottom: vw-calc(3);
            }
            dd{
                font-size: vw-calc(24);
                line-height: calc(32 / 24);
            }
        }

        &--time{
            font-size: vw-calc(11);
            font-family: $hiragino;
        }
    }

    &__contact{
        &--btn{
        width: vw-calc(200);
        margin-right: vw-calc(43);
        font-family: $hiragino;
        font-size: vw-calc(14);
        font-weight: bold;
        height: vw-calc(48);
        
        }
    }

    &__bgr{
        position: relative;
        height: 35px;
        width: 34px;
        top: -8px;

        &--title{
            font-size: 1.1rem;
            text-align: center;
        }
       
        span{
            display: inline-block;
            height: 1px;
            width: 34px;
            background-color: #fff;
            position: absolute;
            left: 0;
            

            &:nth-of-type(1){
                bottom: 7px;
            }
            &:nth-of-type(2){
                bottom: 0;
            }
        }
    }    
}



