.p-header{
    @include mobile{
        height: 6rem;
        background-color: #fff;
    }

    &__logo{
        font-size: 2.2rem;
        font-weight: 400;
        font-style: normal;
        line-height: 1.63;
        @include pc{
            padding-left: 3.6rem;
            padding-top: 2.6rem;
        }
        @include mobile{
            font-size: 1.5rem;
        }

        a{
            @include pc{
                color: #fff;

                .is-in &{
                    color: #000;
                }
            }
            @include mobile{
                color: #000;
            }
        }
    }

    &__info{
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    &__tel{
        margin-right: vw-calc(30);
        @include mobile{
            margin-right: 1.9rem;
        }

        &-num{
            display: flex;
            font-family: $lato;
            align-items: center;

            dt{
                font-size: vw-calc(13);
                margin-right: 10px;
                letter-spacing: .2em;
                border-bottom: 1px solid #fff;
                line-height: 1.333;
                padding-bottom: vw-calc(3);
                .is-in &{
                    border-color: #000;
                }
            }
            dd{
                font-size: vw-calc(24);
                line-height: calc(32 / 24);
            }
        }

        &-time{
            font-size: vw-calc(11);
            font-family: $hiragino;
        }

        &-icon{
            padding-top: .3rem;
            width: 1.6rem;
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    &__contact{
        @include mobile{
            margin-right: 1.9rem;
        }

        &-btn{
        width: vw-calc(200);
        font-family: $hiragino;
        font-size: vw-calc(14);
        font-weight: bold;
        height: vw-calc(48);

            .is-in &{
                border: 1px solid #000;
                margin-right: vw-calc(20);
            }

            @include pc{
                transition: background-color .3s, color .3s;

                &:hover{
                    transition: background-color .3s, color .3s;
                    background-color: #fff;
                    color: #000;
                    cursor: pointer;

                    .is-in &{
                        background-color: #000;
                        color: #fff;

                    }
                }
            }
        }

        &-icon{
            width: 2.1rem;
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    &__bgr{
        position: relative;
        height: 10rem;
        width: 10rem;

        @include pc{
            margin: 0 1rem;
            .is-in &{
                height: 8.8rem;
                width: 8.8rem;
                margin: 0;
            }
        }
        @include mobile{
            height: 6rem;
            width: 6rem;
            background-color: #000;
            color: $white;
        }

        &-title{
            bottom: 46%;
            left: 50%;
            transform: translateX(-50%);
        }

        span{
            left: 50%;
            transform: translateX(-50%);
            transition: transform .3s;

            &:nth-of-type(1){
                @include pc{
                    bottom: 4.3rem;
                    .is-in &{
                        bottom: 3.7rem;
                    }
                }

                @include mobile{
                    bottom: 2rem;
                }
            }

            &:nth-of-type(2){
                @include pc{
                    bottom: 3.6rem;
                    .is-in &{
                        bottom: 3rem;
                    }
                }
                @include mobile{
                    bottom: 2.5rem;
                }
            }
        }
    }     
}



