.p-key{
    background-color: #222222;
    position: relative;

    &__bg{
        padding-right: percentage(440px / 1440px);
        img{
            width: 100%;
            height: auto;
            vertical-align: bottom;
        }
    }

    &__inner{
        background: rgba($color: #000000, $alpha: .5);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
    }

    &__textarea{
        color: #fff;
        width: percentage(563px / 720px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__title{
        font-size: vw-calc(26);
        font-weight: 300;
        margin-top: vw-calc(244);
        letter-spacing: .1em;
        line-height: 1.384;
    }

    &__logo{
        margin-top: vw-calc(55 );
        img{
            width: 100%;
            height: auto;
        }
    }

    &__subtitle{
        &-ja{
            font-size: vw-calc(38);
            margin-top: vw-calc(59);
            line-height: 0.974;
        }

        &-en{
            font-family: $lato;
            font-size: vw-calc(18);
            letter-spacing: .215em;
            margin-top: vw-calc(20);
            line-height: 2.333;
            font-weight: 300;
        }
    }

    &__text{
        font-size: vw-calc(16);
        margin-top: vw-calc(39);
        font-weight: bold ;
    }

    &__scroll{
        max-width: 120rem;
        width: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
        text-align: right;
        font-size: vw-calc(11);
        // padding-right: vw-calc(72);
        letter-spacing: .025em;
        display: flex;
        justify-content: end;

        &-line{
            width: 1rem;
            height: 8rem;
            background: rgba(255,255,255,.3);
        }

        
    }

}
