.p-product{
    position: relative;
    padding-top: 0;
    padding-bottom: 0;

    &::after{
        position: absolute;
        top: 0;
        right: 0;
        z-index: $back;
        display: block;
        width: 100vw;
        height: 63.5rem;
        content: '';
        background-color: $bg-blue;
    }


    &__ttl{
        padding-top: 14.6rem;
        color: $white;

        &-main{

        }
        &-sub{
            &::before{
                background-color: #fff;
            }
        }
    }
    &__paragraph{

        &-head{
            padding-top: 3.7rem;
            color: $white;
        }
        &-txt{
            padding-top: 1.9rem;
            color: $white;
        }
    }

    &__list{
        padding-top: 7.5rem;
        display: grid;
        gap: 0 percentage(60px/1200px);
        grid-template-areas: 
            'item1 item1'
            'item3 item4'
        ;
        grid-template-rows: 1fr 1fr;
    }

}