$prefix: 'slide-left';

.#{$prefix}{
    opacity: 0;
    visibility: hidden;
    transition: 1.3s;
    transform: translateX(5rem);

    &.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}